<template>
  <div class="panel apply">
    <button class="panel__btn">Insert to all</button>
    <button class="panel__btn panel__btn_active">Insert</button>
  </div>
</template>

<style lang="scss" scoped>
  .panel {
    display: flex;
    width: 100vw;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid #e0e0e0;
    height: 52px;
    bottom: 0;
    left: 0;
    &__btn {
      color: #ccc;
      font-size: 13px;
      font-weight: normal;
      letter-spacing: 0.0357143em;
      border: 0;
      outline: 0;
      background: transparent;
      text-transform: uppercase;
      padding: 10px 20px;
      margin: 0 8px;
      line-height: 15px;
      &_active {
        color: #30c2ff;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  @media (max-width: 600px) {
    .panel {
      margin-top: -10px;
    }
  }
</style>