<template>
  <div class="wrapper">
    <ul class="breadcrumbs">
      <li class="breadcrumbs__item" v-for="breadcrumb in breadcrumbs" :key="breadcrumb.id">{{breadcrumb}}</li>
    </ul>
  </div>
</template>

<script>
import store from '../store/store.js'
export default {
  computed: {
    breadcrumbs() {
      return store.state.urlState;
    }
  }
}
</script>

<style lang="scss" scoped>
  .breadcrumbs {
    list-style: none;
    display: flex;
    padding-left: 25px;
    &__item {
      padding-right: 10px;
      color: #777;
      transition: 0.3s ease-in;
      &:hover {
        color: #000;
        cursor: pointer;
      }
      &:after {
        margin-left: 10px;
        content: ' ';
        width: 5px;
        height: 5px;
        border-right: 1px solid #777 ;
        border-bottom: 1px solid #777;
        display: inline-block;
        transform: rotate(-45deg);
        margin-bottom: 2px;
      }
      &:last-of-type {
        color: #000;
        &:after {
          content: '';
          border: 0;
        }
      }

    }
  }
  @media (max-width: 600px) {

  }
</style>