<template>
  <div class="card" @click="setActive">
    <img class="card__image" :src="cardImage" alt="Image preview">
    <div class="card__wrapper">
      <div class="card__text">
        <p class="card__title">{{cardTitle}}</p>
        <p class="card__description">{{cardDescription}}</p>
      </div>
      <span class="card__btn">&#xe808</span>
    </div>
  </div>
</template>

<script>
import store from '../store/store.js'
import { cardClicked } from '../helpers/cards.js'
export default {
  props: [ 'cardImage', 'cardTitle', 'cardDescription' ],
  methods: {
    setActive(){
      cardClicked(event);
      //commit mutation
      this.$store.commit('setActiveCard', event.currentTarget);
    }
  }
}
</script>

<style lang="scss" scoped>
  .card {
    width: 158px;
    height: 180px;
    margin-left: 25px;
    padding: 8px 8px 10px 8px;
    border: 2px solid transparent;
    &:hover {
      cursor: pointer;
    }
    &_active {
      border: 2px solid #30c2ff;
    }
    &__image {
      max-width: 142px;
      max-height: 120px;
      margin: auto;
      display: block;
    }
    &__wrapper {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
    }
    &__title {
      color: #333;
      width: 130px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      line-height: 16px;
      margin-bottom: 2px;
      margin-top: 0px;
    }

    &__description {
      color: #777;
      font-size: 12px;
      margin-top: 0px;
      margin-bottom: 0px;
      line-height: 14px;
    }
    &__btn {
      font-family: icons;
      display: block;
      padding: 9px 10px 10px 10px;
      margin-top: auto;
      margin-bottom: auto;
      color: #777;
      transition: 0.15s ease-in;
      &:hover {
        color: #000;
      }
    }
  }
</style>