<template>
  <div class="categories" id="categories">
    <p class="categories__title">Categories</p>
    <CategoryTree/>
  </div>
</template>

<script>
import CategoryTree from './CategoryTree.vue'
export default {
  components: {
    CategoryTree
  }
}
</script>

<style lang="scss" scoped>
  .categories {
    padding-top: 20px;
    border-right: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
    width: 225px;
    height: 100%;
    &__title {
      margin: 0;
      color: #999;
      text-transform: uppercase;
      font-weight: normal;
      font-size: 12px;
      margin-left: 25px;
    }
  }
  @media(max-width: 600px) {
    .categories {
      margin-left: 100vw;
      margin-top: -50px;
      position: absolute;
      transition: 0.3s ease-in;
      width: 100vw;
      position: fixed;
      overflow: hidden;
      z-index: 2;
      background: #fff;
      height: calc(100vh - 50px);
      border-top: 1px solid #e4eaf0;
    }
    .categories_active {
      display: block;
      margin-left: 0
    }
  }
</style>