<template>
  <div class="tree" id="categoryTree" @click="classToggle">
    <div class="category category__root" v-for="category in categories" :key="category.id">
      <p class="category__title">

        <router-link class="link" :to="'#' + category.link">{{category.name}}</router-link>
      </p>

      <div class="category category__subcategory" v-for="subcategory in category.subcategory" :key="subcategory.id">
        <p class="category__title">
          <router-link class="link" :to="'#' + subcategory.link">{{subcategory.name}}</router-link>
        </p>

        <div class="category category__finalcategory" v-for="subsubcategory in subcategory.subcategory" :key="subsubcategory.id">
          <p class="category__title">
            <router-link class="link" :to="'#' + subsubcategory.link">{{subsubcategory.name}}</router-link>
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import { categoryToggle } from '../helpers/category.js'

export default {
  data() {
    return {
      categories: {}
    }
  },

  mounted() {
    axios
      .get('/src/dev-data/categories.json')
      .then(response => (this.categories = response.data.categories));
  },
  methods: {
    classToggle() {
      categoryToggle(event);
    }
  }
}
</script>

<style lang="scss" scoped>
  .tree {
    padding-top: 15px;
    width: 225px;
    position: fixed;
    overflow-y: scroll;
  }
  .category {
    font-size: 13px;
    line-height: 15px;
    margin: 0;
    &:hover {
      cursor: pointer;
    }
    &_active {
      color: #30c2ff;
      background-color: #e6f7fe;
    }
    &__title {
      margin: 0;
      z-index: 2;
      text-indent: 25px;
      color: #000;
      text-decoration: none;
    }
    &__subcategory &__title{
      text-indent: 38px;
    }
    &__finalcategory &__title{
      text-indent: 51px;
    }
  }
  .link {
    width: 100%;
    display: block;
    padding-top: 13px;
    padding-bottom: 8px;
    text-decoration: none;
    color: #000;
  }
  @media (max-width: 600px) {
    .tree {
      width: 100vw;
    }
  }
  @media (min-width: 601px) {
    .tree {
      height: calc(100vh - 200px);
    }
  }
</style>