<template>
  <div>
    <WindowPanel/>
    <TabPanel/>
    <Breadcrumbs/>
    <ViewPanel/>
    <StripMenu/>
    <CategoryPanel/>
    <ApplyPanel/>
  </div>
</template>
<script>
import ApplyPanel from './ApplyPanel.vue'
import Breadcrumbs from './Breadcrumbs.vue'
import CategoryPanel from './CategoryPanel.vue'
import StripMenu from './StripMenu.vue'
import TabPanel from './TabPanel.vue'
import ViewPanel from './ViewPanel.vue'
import WindowPanel from './WindowPanel.vue'
export default {
  components: {
    ApplyPanel,
    Breadcrumbs,
    CategoryPanel,
    StripMenu,
    TabPanel,
    ViewPanel,
    WindowPanel
  }
}
</script>