<template>
  <div class="wrapper" v-if="cards.length">
    <Card class="card"
      v-for="card in cards" :key="card.id"
      :cardImage="card.image" :cardTitle = "card.title" :cardDescription = "card.description"
    />
  </div>
  <div class="wrapper" v-else>
    <Empty/>
  </div>
</template>

<script>
import Empty from './Empty.vue'
import Card from './Card.vue'

import store from '../store/store.js'
import axios from 'axios'
export default {
  components: {
    Card,
    Empty
  },

  data() {
    return {
      hash: '',
      answer: '',
      jsonFileName: ''
    }
  },

  computed: {
    cards() {
      this.hash = this.$store.state.urlState;
      this.jsonFileName = this.hash + '.json';
      axios
        .get(`/src/dev-data/${this.jsonFileName}`)
        .then(response => (this.answer = response.data));
      return this.answer;
    }
  }
}
</script>

<style lang="scss" scoped>
.wrapper {
  flex-wrap: wrap;
  margin-bottom: 60px;
}
</style>