<template>
  <div class="content">
    <img class="content__img" src="../assets/img/empty.svg" alt="">
    <p class="content__title">It's empty in here</p>
    <p class="content__description">Oops! Seems like there’s no files under this category right now.</p>
  </div>
</template>
<style lang="scss" scoped>
  .content {
    max-width: 275px;
    text-align: center;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    &__title {
      font-size: 18px;
      font-weight: bold;
      color: #30c2ff;
    }
    &__description {
      color: #757575;
    }
  }
</style>