<template>
  <div class="btn" @click="menuToggle">
    <div class="btn__text-wrapper">
      <span class="btn__icon">&#xe801</span>
      <span class="btn__text">Category name</span>
    </div>
    <p class="btn__more">&#xe808</p>
  </div>
</template>

<script>
import store from '../store/store.js'

import { mobileMenuBtnClicked } from '../helpers/category.js'

export default {
  methods: {
    menuToggle() {
      mobileMenuBtnClicked();
      this.$store.dispatch('menuStateToggle');
    }
  }
}
</script>

<style lang="scss" scoped>
  .btn {
    width: calc(100vw - 40px);
    display: none;
    justify-content: space-between;
    height: 48px;
    padding-left: 25px;
    &:hover {
      cursor: pointer;
    }
    &__text-wrapper {
      margin-top: auto;
      margin-bottom: auto;
    }
    &__more {
      font-family: Icons;
      margin-top: auto;
      margin-bottom: auto;
      padding: 8px;
    }
    &__icon {
      font-family: icons;
    }
  }
  @media (max-width: 600px) {
    .btn {
      display: flex;
    }
  }
</style>