<template>
  <div class="container">
    <WindowPanel class="fixed"/>
    <TabPanel class="fixed"/>
    <main class="wrapper">
      <Category class="fixed"/>
      <div class="main-window">
        <StripMenu/>
        <MobileCategoryBtn class="btn_mobile"/>
        <router-view/>
      </div>
    </main>
    <ApplyPanel class="fixed"/>
  </div>
</template>

<script>
import store from '../store/store.js'

import WindowPanel from './WindowPanel.vue'
import TabPanel from './TabPanel.vue'
import ApplyPanel from './ApplyPanel.vue'
import StripMenu from './StripMenu.vue'
import Empty from './Empty.vue'
import Category from './CategoryPanel.vue'
import MobileCategoryBtn from './MobileCategoryBtn.vue'

export default {
  data() {
    return {
      isMobile: store.state.isMobile
    }
  },

  components: {
    WindowPanel,
    TabPanel,
    Category,
    MobileCategoryBtn,
    StripMenu,
    ApplyPanel,
    Empty
  },
  
}
</script>

<style lang="scss" scoped>
  .wrapper {
    display: flex;
    width: 100%;
  }
  .main-window {
    position: relative;
    width: 100%;
    min-height: calc(100vh - 150px);
  }
  .apply.fixed {
    position: fixed;
    background: #fff;
  }
  @media(min-width: 601px) {
    .tab.fixed {
      margin-top: 50px;
    }
    .categories.fixed {
      margin-top: 98px;
    }
    .fixed {
      position: fixed;
      z-index: 1;
      background: #fff;
    }
    .main-window {
      margin-top: 98px;
      margin-left: 235px;
    }
  }
</style>