<template>
  <div class="container">
    <BreadCrumbs/>
    <ViewPanel/>
  </div>

</template>

<script>
import BreadCrumbs from './Breadcrumbs.vue'
import ViewPanel from './ViewPanel.vue'
export default {
  components: {
    BreadCrumbs,
    ViewPanel
  }
}
</script>

<style lang="scss" scoped>
.container {
  display: flex;
  justify-content: space-between;
  max-height: 50px;
  border-top: 1px solid #e0e0e0;
}
@media (max-width: 600px) {
  .container {
    display: none;
  }
}
</style>