<template>
  <div class="tab" id="tab">
    <button class="tab__btn tab__btn_active">
      <span class="tab__icon">&#xe80a</span>
      <span class="tab__title">Public</span>
    </button>
    <button class="tab__btn">
      <span class="tab__icon">&#xe809</span>
      <span class="tab__title">My files</span>
    </button>
  </div>
</template>

<style lang="scss" scoped>
  .tab {
    padding-left: 25px;
    border-bottom: 1px solid #e0e0e0;
    width: 100vw;
    &_hidden {
      display: none;
    }
    &__btn{
      background: transparent;
      border: 0;
      outline: 0;
      padding: 15px 25px 13px;
      margin-bottom: -1px;
      font-weight: bold;
      color: #777;
      text-transform: uppercase;
      &:hover {
        cursor: pointer;
      }
      &_active {
        color: #30c2ff;
        border-bottom: 2px solid #30c2ff;
      }
    }
    &__icon {
      font-family: Icons;
      margin-right: 13px;
    }
  }
</style>