<template>
  <div class="panel">
    <span>&#xe80b</span>
    <span>&#xe80c</span>
    <span>&#xe80d</span>
    <img src="https://placehold.it/40x40" alt="">
    <span>&#xe808</span>
  </div>
</template>

<style lang="scss" scoped>
  .panel {
    display: flex;
    align-items: center;
    padding-right: 30px;
    padding-left: 20px;
    span {
      font-family: icons;
    }
    span, img {
      margin: 0 12.5px;
      max-width: 38px;
      max-height: 34px;
      color: #666;
      transition: 0.15s ease-in;
      font-size: 14px;
      &:hover {
        cursor: pointer;
        color: #000;
      }
    }
  }
</style>