<template>
  <div class="panel" id="windowPanel">
    <!-- back btn -->
    <span class="panel__btn" @click="menuToggle" v-if="isMenuOpened == true">&#xe805</span>
    <p class="panel__title">{{windowTitle}}</p>
    <!-- cross btn -->
    <span class="panel__btn" v-if="isMenuOpened == false">&#xe802</span>
  </div>
</template>

<script>
import store from '../store/store.js'

import { mobileMenuBtnClicked } from '../helpers/category.js'

export default {
  computed: {
    windowTitle() {
      return this.$store.state.windowTitle;
    },
    isMenuOpened() {
      return this.$store.state.isMenuOpen;
    }
  },
  methods: {
    menuToggle() {
      this.$store.dispatch('menuStateToggle');
      mobileMenuBtnClicked();
    }
  }
}
</script>

<style lang="scss" scoped>
  .panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 13px 0px 20px;
    line-height: 19px;
    width: calc(100vw - 50px);
    &__title {
      font-size: 16px;
      font-weight: bold;
      color: #333;
    }
    &__btn {
      font-family: icons;
      &:hover {
        cursor: pointer;
      }
    }
    &_active {
      justify-content: flex-start;
      .panel__btn {
        padding-right: 16px;
      }
    }
  }
  @media (max-width: 600px) {
    .panel {
      margin-top: 0;
      margin-bottom: 0px;
      width: calc(100vw - 40px);
    }
  }
</style>