<template>
  <div id="app">
    
    <PageIndex/>
  </div>
</template>

<script>
import store from './store/store.js'

import PageIndex from './components/PageIndex.vue'
export default {
  components: {
    PageIndex
  },
  name: 'App'
}
</script>

<style lang="scss">
@font-face {
  font-family: Roboto;
  src: url('/src/assets/fonts/Roboto/Roboto-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: Roboto;
  src: url('/src/assets/fonts/Roboto/Roboto-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: icons;
  src: url('/src/assets/fonts/icons/fontello.ttf');
  font-weight: normal;
}

html, body {
  font-family: Roboto, sans-serif;
  overflow-x: hidden;
}
</style>
